.content {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-direction: column;
  align-items: center;
}

.letter-card {
  border: #9EA3AE 1px solid;
  width: 58px;
  height: 58px;
  margin: 3px;
  justify-content: center;
  display: flex;
}

.keyboard-container {
  height: 200px;
  min-width: 370px;
}

.key {
  background-color: rgb(129, 131, 132);
  height: 58px;
  justify-content: center;
  display: flex;
  border-radius: 4px;
  cursor: pointer;
}

.key-contains {
  background-color: rgb(181, 159, 59);
}

.key-not-contains {
  background-color: rgb(58, 58, 60);
}

.key-right-position {
background-color: rgb(83, 141, 78)
}

.special-key {
  width: 54px;
}

.key-letter {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  align-content: center;
  line-height: 58px;
}

.word-char {
  color: white;
  align-content: center;
  font-size: 1.5rem;
}
