<div class="content">    
    <div class="intro-container">
        <img class="intro-img" src="assets/images/beansen.jpg">
        <h1>Benjamin Holzapfel</h1>
        <div class="intro-job">Software Engineer</div>
    </div>

  <h1 class="mt-7 fly-in">Work</h1>
  <div class="work-entry fly-in">
    <div class="work-name">GS Computerservice</div>
    <div class="work-period">
      Software Engineer
      <br>
      04/2018 - present
    </div>
    <div class="work-description">
      Frontend and backend developer for government software
      <br>
      #Java #Javascript #Hibernate #HibernateSearch #LinuxSystemAdmin #OSGI #Elasticsearch #Gradle #Jenkins #Nexus
    </div>
  </div>
  <div class="work-entry fly-in">
    <div class="work-name">InnoGames</div>
    <div class="work-period">
      Software Engineer
      <br>
      07/2015 - 04/2017
    </div>
    <div class="work-description">
      Unity 3D game developer
      <br>
      #Csharp #Unity3D #MeshGeneration #FiniteStateMachines #BehaviorTrees #UNet #Pathfinding #UnityNavMesh #TerrainGeneration #AssetNundles #Shaders
    </div>
  </div>
  <div class="work-entry fly-in">
    <div class="work-name">InnoGames</div>
    <div class="work-period">
      Software Engineer
      <br>
      08/2013 - 07/2015
    </div>
    <div class="work-description">
      Android game developer
      <br>
      #Java #AndroidSDK #LibGDX #Gradle #Jenkins #Socket.io #AndroidRelease #TDD #Junit
    </div>
  </div>
  <h1 class="mt-5 fly-in">Technologies and Tools</h1>
  <div class="tech-container fly-in">
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/android/android-original.svg">
          <h4 class="tech-name">Android SDK</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angular/angular-original.svg">
          <h4 class="tech-name">Angular</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg">
          <h4 class="tech-name">C++</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg">
          <h4 class="tech-name">C#</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg">
          <h4 class="tech-name">Django</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/elasticsearch/elasticsearch-original.svg">
          <h4 class="tech-name">Elasticsearch</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg">
          <h4 class="tech-name">Git</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/groovy/groovy-original.svg">
          <h4 class="tech-name">Groovy</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gradle/gradle-original.svg">
          <h4 class="tech-name">Gradle</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/hibernate/hibernate-original.svg">
          <h4 class="tech-name">Hibernate</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg">
          <h4 class="tech-name">Java</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg">
          <h4 class="tech-name">Javascript</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg">
          <h4 class="tech-name">Kotlin</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/maven/maven-original.svg">
          <h4 class="tech-name">Maven</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nginx/nginx-original.svg">
          <h4 class="tech-name">Nginx</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg">
          <h4 class="tech-name">Python</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/socketio/socketio-original.svg">
          <h4 class="tech-name">Socket.io</h4>
      </div>
      <div class="tech-entry fly-in">
          <img class="tech-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unity/unity-original.svg">
          <h4 class="tech-name">Unity 3D</h4>
      </div>
  </div>
  <h1 class="mt-5 fly-in">Projects</h1>
  <div class="project-container fly-in">
    <a href="https://play.google.com/store/search?q=tribal+wars+2&c=apps&gl=DE"><img class="project-picture" src="assets/images/tw2.webp"></a>
    <div class="project-description">
        <div class="project-title">Tribal Wars 2</div>
        <div class="project-text">This game is made with Android SDK and libGDX. It has over 1 million downloads on the European market.</div>
    </div>
  </div>
  <div class="project-container fly-in">
      <a href="https://drive.google.com/file/d/1jgHgHAaN67G00LcArjou4eOteiovfXmW/view?usp=sharing"><img class="project-picture" src="assets/images/super-mario-world.jpg"></a>
      <div class="project-description">
          <div class="project-title">Super Mario</div>
          <div class="project-text">This project is written in c++ with SDL. I made my own game loop with input, physics and rendering.</div>
          <a class="repository-link" href="https://bitbucket.org/beansen/sdl_supermario/src/master/">Bitbucket Repository</a>
      </div>
  </div>
  <div class="project-container fly-in">
      <a href="https://drive.google.com/file/d/1H8onmWTrlys1xT2oSP1mlY5HGk4PVEvH/view?usp=sharing"><img class="project-picture" src="assets/images/ai-project.png"></a>
      <div class="project-description">
          <div class="project-title">Self-driving car</div>
          <div class="project-text">This project is made in Unity. The car learns the track via neural network and genetic algorithms.</div>
          <a class="repository-link" href="https://bitbucket.org/beansen/ai_project/src/master/Unity/">Bitbucket Repository</a>
      </div>
  </div>
  <div class="project-container fly-in">
      <a href="https://drive.google.com/file/d/1rdIZbs48nL12AMg0PywW7JiUVgMGgk4_/view?usp=sharing"><img class="project-picture" src="assets/images/harvest-moon.png"></a>
      <div class="project-description">
          <div class="project-title">Harvest Moon</div>
          <div class="project-text">This project is made in Unity. It is based on games like Harvest Moon or Stardew Valley.</div>
          <a class="repository-link" href="https://bitbucket.org/beansen/harvest-valley/src/master/">Bitbucket Repository</a>
      </div>
  </div>
  <div class="project-container fly-in">
      <a href="https://beansen.github.io/sudoku/"><img class="project-picture" style="max-width: 20rem;" src="assets/images/sudoku.png"></a>
      <div class="project-description">
          <div class="project-title">Sudoku</div>
          <div class="project-text">This is a Sudoku game made in Angular.</div>
          <a class="repository-link" href="https://github.com/beansen/sudoku">Github Repository</a>
      </div>
  </div>
  <div class="project-container fly-in">
      <a href="https://drive.google.com/file/d/1S0rdnASgdZKC6GIvaMRfqAfGQE96LXEt/view?usp=sharing"><img class="project-picture" style="max-width: 20rem;" src="assets/images/epic-catch.png"></a>
      <div class="project-description">
          <div class="project-title">Epic Catch</div>
          <div class="project-text">This game is made with Unity using Unity networking and a node.js relay server.</div>
      </div>
  </div>
</div>